doctype html
html(ng-app="vibes")
  head
    title vibes
    script(src="../js/bower_components/jquery/dist/jquery.js")
    script(src="../js/bower_components/angular/angular.js")
    script(src="../js/bower_components/angular-resource/angular-resource.js")
    script(src="../js/bower_components/angular-route/angular-route.js")
    script(src="../js/bower_components/angular-audio-playlist/dist/angular-audio-player.js")
    script(src="../js/app.js")
    script(src="../js/services.js")
    script(src="../js/controllers.js")

  body
    ul
      li
        a(href="#/playlist") playlist
    div(ng-view)
